.join-box.reverse {
  width: 181px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #1b1b1b;
  border-radius: 80px;
  padding: 3px;
  border: 1px solid gray;
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  position: absolute ;
  z-index: 10;
  transform: scale(0.9);
}

/* LEFT CIRCLE ICON */
.join-icon {
  width: 42px;
  height: 42px;
  background: linear-gradient(180deg, #383838, #464646);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -10px;   /* overlap on pill */
  z-index: 2;
}

.star {
  font-size: 20px;
  color: white;
}

/* RIGHT TEXT PILL */
.join-text {
  flex: 1;
  height: 100%;
  background: linear-gradient(180deg, #818181, #555555);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  z-index: 1;
}

.join-text p {
font-family: Raleway;
font-weight: 500;
font-style: Medium;
font-size: 14px;
}
