.box3-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #3a3a3a; 
  padding: 15px;
  align-items: center;
  color: light;
  width: 1512px;
  height: 396px;
  width: 98%;
  padding-right: 40px;
  padding-left: 40px;
}
[data-theme="dark"] .box3-container{
  background: gainsboro;
  color: black;
}

.box3-left {
  padding: 20px;
  text-align: left;
  font-family: raleway;
}

.box3-left h3 {
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 38px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: uppercase;
}

.box3-left p {
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

}

.box3-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3-right img {
  height: auto;
 width: 90%;
}
@media (max-width:1000px) {
    .box3-container{
       padding-left: 0px;
    }
}
/* Responsive */
@media (max-width: 768px) {

  .box3-container {
    grid-template-columns: 1fr;  /* stack vertically */
    height: auto;                /* allow natural height */
    padding: 20px;               /* reduce padding on small screen */
    width: 96%;                 /* prevent overflow */
    padding-left: 0px;
  }

  .box3-left {
    text-align: left;            /* left-aligned for readability */
    margin-left: 2%;
  }

  .box3-right {
    margin-top: 20px;            /* spacing between text and image */
  }

  .box3-right img {
    width: 100%;                 /* full width */
    height: 100%;
    max-width: 400px;            /* limit size for mobile */
    height: auto;                /* maintain aspect ratio */
  }
}

@media (max-width: 480px) {
  .box3-left h3 {
    font-size: 30px;
  }

  .box3-left p {
    font-size: 18px;
  }
}
