.hiw-wrapper {
  height: 300vh;
  position: relative;
  width: 100%;
  text-align: left;
}

.hiw-container {
  height: 100vh;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* LEFT */
.lft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lft-row {
  display: grid;
  grid-template-columns: 80px 1fr 60px;
  align-items: center;
  opacity: 0.25;
  transition: all 0.4s ease;
  margin-left: 20px;
}

.lft-row.active {
  opacity: 1;
  transform: translateX(10px);
}

.lft-num {
  font-size: 20px;
  opacity: 0.6;
}

.lft-text {
  font-size: 22px;
  line-height: 1.3;
}

/* RIGHT */
.rgt {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Each row = 2 columns */
.rgt-row {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
  padding: 0 40px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.rgt-row.show {
  opacity: 1;
  transform: translateY(0);
}

.rgt-row img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.rgt-row p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color);
  margin-top: -10%;
}

/* Icon */
.far {
  color: var(--bg-color);
  background-color: var(--text-color);
}
