 .scroll-carousel {
          display: flex;
          min-height: 600vh;
          background: #000;
          width: 98%;
          border: 1px solid white;
          margin: 20px auto;
        }

        .carousel-left {
          width: 40%;
          height: 100vh;
          position: sticky; /* Keeps this panel fixed in the viewport */
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; /* Hides the cards that are off-screen */
        }

        .content-card {
          position: absolute; /* Allows cards to stack and transition */
          width: 100%;
          height: 100%;
          padding: 25px;
          padding-bottom:0px;
          margin-bottom:0px;
          box-sizing: border-box;
          text-align: left;
          /* transition handled inline for transform and opacity */
        }

        .center-left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
        }

        .signup-ico {
          width: 50px;
          margin-left: 5%;
          margin-bottom: -150px;
        }
        .lef-number {
          font-size: 90px;
          font-weight: 300;
          margin-left: 70%;
          color: white;
          position: sticky !important;
          top: 0% !important;
        }

        .gradient-border {
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, #777, #000);
          margin: 10px 0 20px 0;
        }

        

        .lef-desc {
          width: 90%;
          font-size: 18px;
          opacity: 0.75;
          color: #ccc;
        }

        .carousel-right {
          width: 60%;
          border-left: 1px solid white;
        }

        .content-section {
          height: 100vh; /* Each section takes up one viewport height */
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .illu {
          width: 75%;
        }
      
        @media (max-width:450px) {
            .lef-number{
                margin-top: -50px;
                margin-left: 0px;
            }
            .gradient-border {
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, #777, #000);
          margin: 10px 0 20px 0;
          margin-top: 40px;
        }
        .lef-title h3{
          font-size: 30px;
          color:var(--text-color);
          text-transform: uppercase;
        }
        .lef-desc p{
            width: 10%;
        }
        }